[user]
	name = Griffin Caprio
	email = me@griffincaprio.com
	signingkey = key::ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8cYoU83I3tY4c35QijzD9azKLteMyEZA9lGXMmr9IFRZQ9W5xh1Rh8JTWsaiV9XZI9P+qOXIB8pM2045aIdP9W0Rk9+4DFbw4zOq72qI+e6iCzcrs+HdiKipDNuHrUiZf9OZx1dFvLt7iwQ7iVZDG9ay2nSgZQ6hwE7MHcX8QLWMrQcAZhyZbm+PhoScWXqLXOOiw4cGHmY0EM+HXuyujHIT16R0yrpDvgrPi6MpxXyLfCHc5FI50Pk37MnXTffUWVAsM0mxTFC9EgyWRHaFeXtN5yioWO/4w3GN8m7c4mg9XLNyHDWFDkwwX08eAD9rMvqgE/OKHTVIuXUhlMLiCgxl5M008ki5GZH/acxwg+F6Qyof97exBM9Q7WT9nSllwm//l1b25eccf6LdyzdSYen7+9AaHjV89KMhBGfEoVo/db1PVjlzawU+IyV6soA5baJKOzjH6Md4wkvfIu8wGH0WNWnrqNucGBigmYAcuY8qQd73Ctn2sxTztMs5T+gc= gcaprio@Griffins-MBP.ht.home

[core]
  excludesfile = ~/.gitignore_global
  quotepath = false
  pager = delta

[alias]
  ci = commit
  st = status
  co = checkout
  br = branch
  d = diff

[pull]
  ff = only

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = green
  changed = yellow
  untracked = cyan

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[commit]
  verbose = true
[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended
  navigate = true
  line-numbers = true
  side-by-side = true
  hyperlinks = true

[interactive]
  diffFilter = delta --color-only
[init]
  defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
