.vim/bundle/**
/.vim/bundle/ack.vim
/.vim/bundle/ale
/.vim/bundle/cobalt2-vim-theme
/.vim/bundle/ctrlp.vim
/.vim/bundle/jellybeans.vim
/.vim/bundle/material.vim
/.vim/bundle/nerdtree
/.vim/bundle/nord-vim
/.vim/bundle/onedark.vim
/.vim/bundle/papercolor-theme
/.vim/bundle/python-syntax
/.vim/bundle/vim-airline
/.vim/bundle/vim-airline-themes
/.vim/bundle/vim-endwise
/.vim/bundle/vim-javascript
/.vim/bundle/vim-monokai-pro
/.vim/bundle/vim-one
/.vim/bundle/vim-polyglot
/.vim/bundle/vim-rails
/.vim/bundle/vim-ruby
/.vim/bundle/vim-sensible
/.vim/bundle/vim-slim
/.vim/bundle/Vundle.vim
